{% extends "base.html" %}

{% block title %}Liên hệ - Kèo Sư Melbet{% endblock %}
{% block description %}Liên hệ với Kèo Sư Melbet để được hỗ trợ nhanh chóng qua Zalo, Facebook hoặc email.{% endblock %}
{% block og_title %}Liên hệ - Kèo Sư Melbet{% endblock %}
{% block og_description %}Chúng tôi hỗ trợ người chơi 24/7 qua nhiều kênh liên lạc.{% endblock %}

{% block content %}
<section>
  <h2>Liên hệ với chúng tôi</h2>
  <p>Nếu bạn có bất kỳ câu hỏi hoặc cần hỗ trợ, hãy liên hệ qua các kênh sau:</p>
  <ul>
    <li>📱 Zalo: <a href="https://zalo.me/keosu.melbet" target="_blank">keosu.melbet</a></li>
    <li>📘 Facebook: <a href="https://www.facebook.com/keosu.melbet" target="_blank">facebook.com/keosu.melbet</a></li>
    <li>📧 Email: <a href="mailto:hotro@keosu.melbet">hotro@keosu.melbet</a></li>
  </ul>
</section>
{% endblock %}
